/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  max-width: 700px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  font-family: var(--font-family);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  margin-top: 100px;
  padding-top: 137px;
  padding-bottom: 24px;
  margin-bottom: 100px;
  text-align: center;
}

.header__title {
  color: inherit;
  font-size: clamp(
    3.0625rem,
    1.9086538461538463rem + 4.923076923076923vw,
    4.0625rem
  );
  margin-bottom: 20px;
}

.header__text {
  font-size: clamp(
    0.875rem,
    0.22596153846153844rem + 2.769230769230769vw,
    1.4375rem
  );
  color: inherit;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  margin-left: 17px;
}

.theme-menu__item {
  position: relative;
}

.like-icon {
  fill: var(--text-color);
}

.theme-menu__button {
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative; /* добавлено */
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  color: var(--text-color);
}

.theme-menu__button:after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  background: var(--text-color);
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  left: -15px;
  animation: slide 0.5s ease-in-out infinite alternate;
}

.section__card {
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  position: relative;
}

.text-label {
  z-index: 3;
  position: absolute;
  right: 25px;
  top: 52px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: var(--text-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px var(--text-shadow), -1px -1px var(--text-shadow),
    1px -1px var(--text-shadow), -1px 1px var(--text-shadow);
}

@supports (-webkit-text-stroke: 1px var(--text-shadow)) or
  (text-stroke: 1px var(--text-shadow)) {
  .text-label {
    -webkit-text-stroke: 1px var(--text-shadow);
    text-stroke: 1px var(--text-shadow);
    text-shadow: none;
  }
}

.section__card-title {
  border: 1px solid var(--text-color);
  padding: 5px 10px;
  font-family: var(--second-family);
  font-size: 18px;
  font-variation-settings: var(--font-header-variation);
}

.section__card-img {
  object-fit: cover;
  max-height: 696px;
  width: 100%;
  object-position: center;
  display: block;
}

.section__card-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 24px;
  border: 1px solid var(--text-color);
  font-family: var(--second-family);
  font-variation-settings: var(--font-variation);
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.section__card-text-container p {
  max-width: 646px;
}

@media (max-width: 400px) {
  .section__card-text-container p {
    max-width: calc(317px + (646 - 317) * ((100vw - 375px) / (400 - 375)));
  }
}

.section__card-button-container {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-size: 14px;
  gap: 5px;
  position: relative;
}

.button {
  cursor: pointer;
  background-color: var(--bg-color);
  overflow: hidden;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  height: 38px;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.card__like-button {
  border: 2px solid var(--text-color);
  width: 130px;
  height: 38px;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: inherit;
  font-size: 14px;
  position: relative;
}

.main-body {
  fill: var(--bg-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition-delay: 0.05s;
  transition-duration: 0.5s;
}
.core {
  fill: var(--bg-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: var(--core-color);
  transition-delay: 0s;
  transition-duration: 0.5s;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core,
.like-icon.is-liked .contour {
  fill: var(--heart-color);
}

.like-icon.is-liked:hover .main-body,
.like-icon.is-liked:hover .core,
.like-icon.is-liked:hover .contour {
  fill: var(--heart-color);
}

.sparks {
  opacity: 0;
}
.like-icon.is-liked .sparks {
  animation: sparks_animation 0.3s ease-in 0.3s 1 alternate;
}

.like-icon.is-liked .heart {
  animation: heart_scale_animation 0.3s ease-in 0.1s 1 alternate;
  transform-origin: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--button-color);
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 52px;
}

.footer {
  margin-top: 52px;
  margin-bottom: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__button {
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  padding: 18px 21px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;
}

@media (max-width: 400px) {
  .footer__button {
    flex-direction: column;
    gap: 15px;
  }
}

.blur {
  filter: blur(5px);
}

.brightness {
  filter: brightness(350%);
}

.contrast {
  filter: contrast(500%);
}

.drop-shadow {
  filter: drop-shadow(5px 5px 10px #000);
}

.grayscale {
  filter: grayscale(100%);
}

.hue-rotate {
  filter: blur(5px) hue-rotate(90deg) invert(100%);
}

.invert {
  filter: invert(100%);
}

.saturate {
  filter: saturate(400%);
}

.dialog {
  padding: 31px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  max-width: 357px;
}

.dialog__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.modal_text {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.dialog__title {
  text-transform: uppercase;
  max-width: 234px;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.dialog_img {
  width: 39px;
  height: 39px;
}

.dialog__button {
  border: 2px solid var(--text-color);
  position: relative;
  background-color: transparent;
  height: 38px;
  width: 293px;
  cursor: pointer;
  text-transform: uppercase;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
